
<header>
    <h1>FooBar Clue</h1>
    <h2>Hello {{user}}</h2>
    <form>
        If you write a new original message, it will alert everyone!: <input type="text" name="fname" [(ngModel)]="message"><br>
        <input type="submit" value="Submit" (click)="sendMessage()">
    </form>
    <br/>

    <form>
        Enter Name of Game: <input type="text" name="fname" [(ngModel)]="gameTitle"><br>
        <input type="submit" value="Create a Game" (click)="createGame()">
    </form>

    <br/>
    <br/>
    <br/>

    <h3>Click Cell to Advance Turn</h3>

    <div class="grid">
        <div (click)="clickCell(0,0)">0-0</div>
        <div (click)="clickCell(0,1)">0-1</div>
        <div (click)="clickCell(0,2)">0-2</div>
        <div (click)="clickCell(1,0)">1-0</div>
        <div (click)="clickCell(1,1)">1-1</div>
        <div (click)="clickCell(1,2)">1-2</div>
        <div (click)="clickCell(2,0)">2-0</div>
        <div (click)="clickCell(2,1)">2-1</div>
        <div (click)="clickCell(2,2)">2-2</div>  
    </div>

    <h4 *ngIf="currentPlayer != ''">{{currentPlayer}}'s turn</h4>
    <h2>{{banner}}</h2>

    <p *ngFor="let game of games">
        {{game.title}} with {{game.players.length}} # of players
        <button (click)="joinGame(game)">Join Game</button>
        &nbsp;
        <button (click)="closeGame(game)">Close Game</button>
    </p>
</header>


