<header>
    <div class="clue">
        <h1>FooBar Clue</h1>
        <div *ngIf="user === ''">
            <h2>Hello. Please Log In to Start!
            </h2>
        </div>
        <div *ngIf="user !== ''">
            <div class="welcome">
                <h2>Hello {{user}}</h2>
                <br />
                <br />
            </div>
            <div class="flex-row">
                <div class="left">
                    <div>
                        <form>

                            Write a message!:
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Hi!" name="message" value="" [(ngModel)]="message">
                            </mat-form-field>
                            <br>
                            <button mat-button color="primary" type="submit" value="Submit"
                                (click)="sendMessage()">Submit</button>
                            <br />
                            <h3>Latest Message:</h3>
                            {{latestMessage}}
                            <br />
                            <br />
                            <br />
                            <br />

                            <div *ngIf="currentlyInGame">
                                Currently in game:
                                <h3>{{game.title}}</h3>
                                <br />
                                There Are {{game.players.length}} players
                            </div>

                            <div *ngIf="!currentlyInGame">
                                <div *ngFor="let game of games">
                                    <p>
                                        {{game.title}} with {{game.players.length}} # of players
                                    </p>
                                    <button mat-button color="primary" (click)="joinGame(game)">Join Game</button>
                                    <button mat-button color="warn" (click)="closeGame(game)">Close Game</button>

                                </div>
                            </div>
                        </form>
                        <br />
                    </div>
                </div>
                <div class="right flex-col">
                    <div class="flex-col">
                        <div *ngIf="!currentlyInGame" class="flex-col">


                            <form>
                                Enter Name of Game: <input type="text" name="fname" [(ngModel)]="gameTitle"><br>
                                <button mat-button color="primary" type="submit" value="Create a Game"
                                    (click)="createGame()">Create</button>
                            </form>


                        </div>

                        <br />
                        <br *ngIf="currentPlayer.name != undefined" />
                        <br *ngIf="currentPlayer.name != undefined" />

                        <div *ngIf="currentlyInGame" class="">
                            <div *ngIf="currentPlayer != undefined">
                                <h3>Click Cell to Advance Turn</h3>
                                <h3>You are currently in the {{currentPlayer.location}}</h3>
                                <div class="grid">
                                    <div (click)="clickCell('Study')">Study
                                        <p>{{nameStudy}}</p>
                                    </div>
                                    <div class="hallway" (click)="clickCell('Hall A')">A
                                        <p>{{nameA}}</p>
                                    </div>
                                    <div (click)="clickCell('Hall')">Hall
                                        <p>{{nameHall}}</p>
                                    </div>
                                    <div class="hallway" (click)="clickCell('Hall B')">B
                                        <p>{{nameB}}</p>
                                    </div>
                                    <div (click)="clickCell('Lounge')">Lounge
                                        <p>{{nameLounge}}</p>
                                    </div>
                                    <div class="hallway-vert" (click)="clickCell('Hall C')">C
                                        <p>{{nameC}}</p>
                                    </div>
                                    <div class=spacer></div>
                                    <div class="hallway-vert" (click)="clickCell('Hall D')">D
                                        <p>{{nameD}}</p>
                                    </div>
                                    <div class=spacer></div>
                                    <div class="hallway-vert" (click)="clickCell('Hall E')">E
                                        <p>{{nameE}}</p>
                                    </div>
                                    <div (click)="clickCell('Library')">Library
                                        <p>{{nameLibrary}}</p>
                                    </div>
                                    <div class="hallway" (click)="clickCell('Hall F')">F
                                        <p>{{nameF}}</p>
                                    </div>
                                    <div (click)="clickCell('Billiard')">Billiard
                                        <p>{{nameBilliard}}</p>
                                    </div>
                                    <div class="hallway" (click)="clickCell('Hall G')">G
                                        <p>{{nameG}}</p>
                                    </div>
                                    <div (click)="clickCell('Dining')">Dining
                                        <p>{{nameDining}}</p>
                                    </div>
                                    <div class="hallway-vert" (click)="clickCell('Hall H')">H
                                        <p>{{nameH}}</p>
                                    </div>
                                    <div class=spacer></div>
                                    <div class="hallway-vert" (click)="clickCell('Hall I')">I
                                        <p>{{nameI}}</p>
                                    </div>
                                    <div class=spacer></div>
                                    <div class="hallway-vert" (click)="clickCell('Hall J')">J
                                        <p>{{nameJ}}</p>
                                    </div>
                                    <div (click)="clickCell('Conservatory')">Conservatory
                                        <p>{{nameConservatory}}</p>
                                    </div>
                                    <div class="hallway" (click)="clickCell('Hall K')">K
                                        <p>{{nameK}}</p>
                                    </div>
                                    <div (click)="clickCell('Ball Room')">Ball Room
                                        <p>{{nameBallRoom}}</p>
                                    </div>
                                    <div class="hallway" (click)="clickCell('Hall L')">L
                                        <p>{{nameL}}</p>
                                    </div>
                                    <div (click)="clickCell('Kitchen')">Kitchen
                                        <p>{{nameKitchen}}</p>
                                    </div>
                                </div>
                            </div>

                            <h4 *ngIf="currentPlayer.name != undefined">{{currentPlayer.name}}'s turn</h4>
                            <h4 *ngIf="currentPlayer.name == undefined">The Game hasn't Started. Please Wait</h4>
                            <h2>{{banner}}</h2>
                        </div>

                        <div *ngIf="currentlyInGame">
                            Close current game
                            <button (click)="closeGame(game)">Close Game</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>